# Notebook for reproduce the identification of streams in M31 using Pandas:
data @ /home/mardom/Astrophysical-Research/Andromeda-Gaia-DR2/data/pandas \\
code @ /home/mardom/Astrophysical-Research/Andromeda-Gaia-DR2/code/HSS    \\
following https://iopscience.iop.org/article/10.3847/1538-4357/aae8e7/pdf \\
and https://iohttps://iopscience.iop.org/article/10.3847/1538-4357/ac4496/pdf \\
in order to create a library of streams in M31 like those in the MW  and therefore 
contribute to https://github.com/mardom/galstreams.git upstream \\
need: cross correlation with Gaia data by Keiko and  \\
todo: \\
by Mariano Javier de Leon, Dominguez Romero @ IATE-OAC-UNC 2022, mariano.dominguez@unc.edu.ar \\

In [1]:
import regions
import HSS 

import numpy as np
import matplotlib.pyplot as plt

In [2]:
filepath="/media/mardom/_store/mardom/Astrophysical-Research/Andromeda-Gaia-DR2/data/pandas/CATALOGS/"

In [3]:
filename="m001p.ascd.gz"

In [4]:
datasource=filepath+filename

In [5]:
# read pandas fits data at  /home/mardom/Astrophysical-Research/Andromeda-Gaia-DR2/data/pandas
from astropy.io import ascii
data = ascii.read(datasource)  
print(data)

     RA         Dec      iccd    xg      yg     g      dg   ig    xi      yi     i      di   ii  ia field
----------- ------------ ---- ------- ------- ------ ----- --- ------- ------- ------ ----- --- --- -----
1:40:16.989 +28:00:57.76    1  1336.4 2444.44  13.98 0.001  -9  1331.4 2446.13 13.617 0.001  -9   0     1
1:40:16.292 +27:59:37.16    1  1284.4 2881.92 13.987 0.001  -9 1279.02 2883.41 13.543 0.001  -9   0     1
1:40:22.707 +28:06:54.38    1  1759.3  499.18 14.142 0.001  -9 1755.99  501.99 13.751 0.001  -9   0     1
1:40:18.118 +28:01:38.52    1 1418.71 2222.32 14.157 0.001  -9  1413.9 2224.12 13.668 0.001  -9   0     1
1:40:18.067 +28:03:32.81    1 1418.15 1601.52 14.513 0.001  -9  1413.9 1603.56 13.821 0.001  -9   0     1
1:40:07.711 +28:04:29.12    1  674.08 1304.54  14.59 0.001  -9  670.26 1305.61 14.099 0.001  -9   0     1
1:40:04.072 +27:57:00.08    1  402.73 3740.64 14.683 0.001  -9  396.73 3740.72 14.016 0.001  -9   0     1
1:40:22.857 +28:06:50.88    1  1770.0  518.17 14.667 0.001  -9 1766.68  520.94 14.101 0.001  -9   0     1
1:39:59.622 +27:59:57.47    1   86.42 2784.42 14.886 0.001  -9   81.35  2784.4 14.497 0.001  -9   0     1
1:40:15.294 +28:02:00.05    1 1215.82 2107.88 14.956 0.001  -9 1211.15 2109.45 14.481 0.001  -9   0     1
1:40:11.032 +27:54:17.84    1  900.71 4611.95 15.038 0.001  -9  893.82 4612.46 14.615 0.001  -9   0     1
        ...          ...  ...     ...     ...    ...   ... ...     ...     ...    ...   ... ... ...   ...
1:36:12.418 +27:08:34.84   36 1439.63    18.7 35.332 8.078   0 1424.98  100.55 27.131 1.215   0   0     1
1:36:11.786 +27:08:36.88   36 1485.53   29.62 35.332 8.078   0 1470.86  111.53 34.666 8.322   0   0     1
1:36:08.756 +27:08:42.38   36 1705.91    58.0 35.331 8.078   0 1691.14  140.22 24.424 0.172   0   0     1
1:36:08.570 +27:08:42.34   36 1719.44   57.73 35.331 8.078   0 1704.67  139.97 34.668 8.322   0   0     1
1:36:08.252 +27:08:40.59   36 1742.81   48.04  35.33 8.078   0 1728.04  130.31 26.297 0.729   0   0     1
1:36:07.893 +27:08:41.69   36 1768.92    53.8  35.33 8.078   0 1754.14  136.11 34.668 8.322   0   0     1
1:36:03.142 +27:09:35.39   36 2110.92  344.94 35.333 8.078   0 2095.78  427.69 24.637 0.205   0   0     1
1:36:06.879 +27:08:40.89   36  1842.9   48.88  35.33 8.078   0  1828.1   131.3 25.181  0.32  -1   0     1
1:36:06.216 +27:08:40.80   36 1891.25   47.99  35.33 8.078   0 1876.43  130.48 27.013 1.136   0   0     1
1:36:04.285 +27:08:39.52   36 2032.33    39.9  35.33 8.078   0 2017.47   122.6  34.67 8.322   0   0     1
1:36:04.309 +27:08:35.52   36 2030.91   18.08  35.33 8.078   0 2016.07  100.78 27.231 1.281   0   0     1
1:36:03.188 +27:08:44.79   36 2111.92   68.18  35.33 8.078   0 2097.02  150.99 34.672 8.322   0   0     1
Length = 115667 rows

In [6]:
data.colnames

['RA',
 'Dec',
 'iccd',
 'xg',
 'yg',
 'g',
 'dg',
 'ig',
 'xi',
 'yi',
 'i',
 'di',
 'ii',
 'ia',
 'field']

In [7]:
import glob
import pandas as pd
filepath = "/home/mardom/Astrophysical-Research/Andromeda-Gaia-DR2/data/pandas/CATALOGS/"

dfs = [ascii.read(x) for x in glob.glob(filepath + '*')]

In [8]:
from astropy.table import vstack
from astropy.table import Table
final = Table()
for i in dfs:
    final = vstack([final, i])
    print(i.info, final.info) 
#final_df=final.to_pandas
##final_df = pd.concat(dfs, axis=1, ignore_index=True)

<Table length=154881>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=154881>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=224359>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=379240>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=317955>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=697195>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=238166>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=935361>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=249292>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=1184653>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=212988>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=1397641>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=219049>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=1616690>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=150895>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=1767585>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=286351>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=2053936>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=207195>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=2261131>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=216201>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=2477332>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=152860>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=2630192>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=231229>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=2861421>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=213774>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=3075195>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=163524>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=3238719>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=145945>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=3384664>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=211671>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=3596335>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=1924431>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=5520766>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=177718>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=5698484>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=430072>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=6128556>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=219715>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=6348271>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=265140>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=6613411>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=202963>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=6816374>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=248544>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=7064918>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=222658>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=7287576>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=196728>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=7484304>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=189831>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=7674135>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=189372>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=7863507>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=176452>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=8039959>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=133249>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=8173208>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=216337>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=8389545>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=160434>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=8549979>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=161147>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=8711126>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=226108>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=8937234>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=183876>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=9121110>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=202641>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=9323751>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=230810>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=9554561>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=223738>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64
 <Table length=9778299>
 name  dtype
----- -------
   RA   str12
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64
   di float64
   ii   int64
   ia   int64
field   int64

<Table length=296763>
 name  dtype
----- -------
   RA   str11
  Dec   str12
 iccd   int64
   xg float64
   yg float64
    g float64
   dg float64
   ig   int64
   xi float64
   yi float64
    i float64

In [9]:
import pickle
with open('mypickle.pickle', 'wb') as f:
    pickle.dump(final, f)

In [10]:
# eliminate duplicates and mask erroneous determinations
condition =  np.logical_or(np.logical_or(final["ig"] == -1, final["ii"] == -1), np.logical_or(final["ig"] == -2, final["ii"] == -2))
stars = final[condition == True]
galax = final[condition == False]
del final

In [ ]:
from astropy.coordinates import Angle
from astropy import units as u

RAV1 = Angle(galax["RA"], u.hour)
galax["RA"] = RAV1.wrap_at(12*u.hour)
galax["Dec"] = Angle(galax["Dec"], u.deg)

from astropy.table import unique
galax_nd = unique(galax, keys=['RA', 'Dec'])
galax_nd

with open('mypandasgalax.pickle', 'wb') as f:
    pickle.dump(galax_nd, f)

WARNING: IllegalHourWarning: 'hour' was found  to be '24.0', which is not in range (-24, 24). Treating as 24 hr [astropy.coordinates.angle_formats]

In [ ]:
RAV2 = Angle(stars["RA"], u.hour)
stars["RA"] = RAV2.wrap_at(12*u.hour)
stars["Dec"] = Angle(stars["Dec"], u.deg)

stars_nd = unique(stars, keys=['RA', 'Dec'])
stars_nd

with open('mypandasstars.pickle', 'wb') as f:
    pickle.dump(stars_nd, f)

<Table length=43005781>
     RA          Dec       iccd    xg      yg      g       dg     ig     xi      yi      i       di     ii    ia  field
   str12        str12     int64 float64 float64 float64 float64 int64 float64 float64 float64 float64 int64 int64 int64
------------ ------------ ----- ------- ------- ------- ------- ----- ------- ------- ------- ------- ----- ----- -----
 0:05:06.123 +39:11:38.91     1   48.41 4119.33   17.97   0.001    -9   45.19 4120.71  17.773   0.001    -1     0   197
 0:05:32.837 +39:20:35.08     1 1742.52 1193.62  18.217   0.001    -1 1738.98 1196.05  17.471   0.001    -9     0   197
 0:05:17.592 +39:20:04.17     1  778.71 1375.23  18.403   0.001    -1   775.4 1377.27  17.847   0.001    -1     0   197
 0:05:33.680 +39:20:40.56     1 1796.02 1162.94  18.433   0.001    -1 1792.46 1165.45  17.553   0.001    -9     0   197
 0:05:24.232 +39:10:59.02     1 1189.67 4322.99  18.556   0.001    -1 1186.16 4324.82  17.821   0.001    -9     0   197
 0:05:23.869 +39:16:39.55     1 1170.81 2480.97  18.554   0.001    -1 1167.36 2483.03  17.607   0.001    -9     0   197
 0:05:21.307 +39:14:32.73     1  1007.2 3169.82  18.565   0.001    -1 1003.78 3171.73  17.484   0.001    -9     0   197
 0:05:18.730 +39:14:03.44     1  844.21 3330.26  18.586   0.001    -1  840.82 3332.04  16.659   0.001    -9     0   197
 0:05:32.031 +39:13:46.25     1 1684.07 3413.34  18.601   0.001    -1 1680.47 3415.46  17.511   0.001    -9     0   197
 0:05:32.756 +39:23:43.98     1 1742.59  163.52  18.699   0.001    -1 1739.08  166.13   15.57   0.001    -9     0   197
 0:05:31.667 +39:21:53.89     1 1670.54  765.46  18.714   0.001    -1 1667.03  767.92  16.882   0.001    -9     0   197
         ...          ...   ...     ...     ...     ...     ...   ...     ...     ...     ...     ...   ...   ...   ...
23:57:34.703 +37:27:26.33    36   57.53 2441.91  34.951   7.517     0   59.71 2443.47     0.0   0.101    -1     0   174
23:57:26.875 +37:27:40.11    36  562.39 2513.71  34.952   7.517     0  564.43  2515.3     0.0   0.142    -1     0   174
23:57:24.562 +37:27:42.28    36  712.41  2524.5  34.951   7.517     0  714.42 2526.11     0.0   0.094    -1     0   174
23:57:12.281 +37:30:43.64    36 1497.24 3503.15  34.957   7.517     0 1499.11 3504.64     0.0   0.156    -1     0   174
23:57:11.070 +37:30:34.73    36 1576.28 3454.49  34.958   7.517     0 1578.13 3455.96     0.0   0.145    -1     0   174
23:57:28.789 +37:24:48.41    36  448.02 1581.99  34.947   7.517     0  450.03 1583.78     0.0   0.129    -1     0   174
23:57:20.594 +37:24:16.17    36  980.98 1402.91  34.945   7.517     0  982.84 1404.85     0.0   0.083    -1     0   174
23:57:20.977 +37:22:29.86    36  962.46  823.76  34.943   7.517     0  964.29  825.91     0.0   0.103    -1     0   174
23:57:29.828 +37:20:26.73    36  395.62  156.47  34.943   7.517     0  397.55  158.72     0.0    0.19    -1     0   174
23:57:17.625 +37:22:12.33    36  1181.2  726.61  34.944   7.517     0 1182.96  728.72     0.0   0.138    -1     0   174
23:57:12.461 +37:20:59.39    36 1522.19  325.57  34.947   7.517     0 1523.84  327.84     0.0   0.221    -1     0   174

In [ ]:
plt.scatter(RAV.degree, DEV.degree , c ="blue")
# To show the plot
plt.show()

In [ ]:
#print(final["RA"])

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
#image = plt.imread(image_data)
plt.imshow(image_data, cmap='gray')
plt.colorbar()

In [ ]:
print('Min:', np.min(image_data))
print('Max:', np.max(image_data))
print('Mean:', np.mean(image_data))
print('Stdev:', np.std(image_data))

In [ ]:
!more /media/mardom/_store/mardom/Astrophysical-Research/Andromeda-Gaia-DR2/data/pandas/files.txt

In [ ]:
print(type(image_data.flatten()))
print(image_data.flatten().shape)

In [ ]:
histogram = plt.hist(image_data.flatten(), bins='auto')

In [ ]:
from matplotlib.colors import LogNorm

In [ ]:
plt.imshow(image_data, cmap='gray', norm=LogNorm())

# I chose the tick marks based on the histogram above
cbar = plt.colorbar(ticks=[5.e3,1.e4,2.e4])
cbar.ax.set_yticklabels(['5,000','10,000','20,000'])